################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CuoiKyCNPM/CuoiKyCNPM/QLBenhVienDaLieu/QLBenhVienDaLieu/.vs/QLBenhVienDaLieu/FileContentIndex/34de7de3-0199-4566-808c-9e642d405e43.vsidx
/CuoiKyCNPM/CuoiKyCNPM/QLBenhVienDaLieu/QLBenhVienDaLieu/.vs/QLBenhVienDaLieu/FileContentIndex/7a4d4634-fffd-4bb1-9635-4a00c3aab849.vsidx
/CuoiKyCNPM/CuoiKyCNPM/QLBenhVienDaLieu/QLBenhVienDaLieu/.vs/QLBenhVienDaLieu/FileContentIndex/89727863-7036-4407-aaae-386da0010baa.vsidx
/CuoiKyCNPM/CuoiKyCNPM/QLBenhVienDaLieu/QLBenhVienDaLieu/.vs/QLBenhVienDaLieu/FileContentIndex/b39f9213-2419-4fde-b2b6-199caf19bfaa.vsidx
/CuoiKyCNPM/CuoiKyCNPM/QLBenhVienDaLieu/QLBenhVienDaLieu/.vs/QLBenhVienDaLieu/FileContentIndex/c906c338-effa-408d-855b-f82c98e78993.vsidx
/CuoiKyCNPM/CuoiKyCNPM/QLBenhVienDaLieu/QLBenhVienDaLieu/.vs/QLBenhVienDaLieu/FileContentIndex/e6b4634a-e0a1-4fd7-8adf-6819f14a9689.vsidx
/CuoiKyCNPM/CuoiKyCNPM/QLBenhVienDaLieu/QLBenhVienDaLieu/.vs/QLBenhVienDaLieu/FileContentIndex/f160feb0-ebce-4554-8239-4eabd5e4a491.vsidx
/.gitignore
/.gitignore
